OpenCharacterRecordUnitTest/OpenCharacterRecord.xsd

<?xml version="1.0" encoding="utf-8" ?>

<!-- Open Character Record (OCR) -->
<!-- Basic Fantasy Role-Playing Game, 2nd Edition (BFRPG2) -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name ="OpenCharacterRecord" type="OCR_RecordType"/>
    <xs:complexType name="OCR_RecordType">
        <xs:choice minOccurs="1" maxOccurs="1">
            <xs:element name="BFRPG2" type="BFRPG2"/>
        </xs:choice>
        <xs:attribute name="version" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:pattern value="0.0.0" />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>

    <!-- Basic Fantasy Role-Playing Game, 2nd Edition (BFRPG2) -->
    <xs:complexType name="BFRPG2">
        <xs:sequence>
            <xs:element name="Name" type="BFRPG2_Name" minOccurs="1" maxOccurs="1"/>
            <xs:element name="Background" type="BFRPG2_Background" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Race" type="BFRPG2_Races" minOccurs="1" maxOccurs="1"/>
            <xs:element name="Classes" type="BFRPG2_Classes" minOccurs="1" maxOccurs="1"/>
            <xs:element name="CharacterAbilities" type="BFRPG2_CharacterAbilities" minOccurs="1" maxOccurs="1"/>
            <xs:element name="ArmorClass" type="BFRPG2_ArmorClass" minOccurs="1" maxOccurs="1"/>
            <xs:element name="HitPoints" type="BFRPG2_HitPoints" minOccurs="1" maxOccurs="1"/>
            <xs:element name="SavingThrows" type="BFRPG2_SavingThrows" minOccurs="1" maxOccurs="1"/>
            <xs:element name="Languages" type="BFRPG2_Languages" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BFRPG2_Name">
        <xs:restriction base="BFRPG2_String">
            <xs:minLength value="1"/>
            <xs:maxLength value="255"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BFRPG2_Background">
        <xs:restriction base="BFRPG2_String">
            <xs:minLength value="0"/>
            <xs:maxLength value="2550"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BFRPG2_Races">
        <xs:choice minOccurs="1" maxOccurs="1">
            <xs:element name="Dwarf" type="BFRPG2_Dwarf" minOccurs="1" maxOccurs="1"/>
            <xs:element name="Elf" type="BFRPG2_Elf" minOccurs="1" maxOccurs="1"/>
            <xs:element name="Halfling" type="BFRPG2_Halfling" minOccurs="1" maxOccurs="1"/>
            <xs:element name="Human" type="BFRPG2_Human" minOccurs="1" maxOccurs="1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="BFRPG2_Dwarf">
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="Abilities" type="BFRPG2_DwarfAbilities" minOccurs="1" maxOccurs="1"/>
            <xs:element name="Restrictions" type="BFRPG2_DwarfRestrictions" minOccurs="1" maxOccurs="1"/>
            <xs:element name="SavingThrowModifiers" type="BFRPG2_DwarfSavingThrowModifiers" minOccurs="1" maxOccurs="1"/>
         </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BFRPG2_DwarfAbilities">
        <xs:sequence minOccurs="5" maxOccurs="5">
            <xs:element name="Ability" type="BFRPG2_DwarfAbility" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BFRPG2_DwarfAbility">
        <xs:restriction base="BFRPG2_String">
            <xs:enumeration value="Dwarves have Darkvision with a 60' range."/>
            <xs:enumeration value="When searching for slanting passages, Dwarves detect on a roll of 1-2 on 1d6."/>
            <xs:enumeration value="When searching for traps, Dwarves detect on a roll of 1-2 on 1d6."/>
            <xs:enumeration value="When searching for shifting walls, Dwarves detect on a roll of 1-2 on 1d6."/>
            <xs:enumeration value="When searching for new construction, Dwarves detect on a roll of 1-2 on 1d6."/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BFRPG2_DwarfRestrictions">
        <xs:sequence minOccurs="4" maxOccurs="4">
            <xs:element name="Restriction" type="BFRPG2_DwarfRestriction" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BFRPG2_DwarfRestriction">
        <xs:restriction base="BFRPG2_String">
            <xs:enumeration value="Dwarves may not be Magic-Users."/>
            <xs:enumeration value="Dwarves must have a minimum Constitution score of 9."/>
            <xs:enumeration value="Dwarves must have a maximum Charisma score of 17."/>
            <xs:enumeration value="Dwarves must employ weapons greater than 4' in length."/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BFRPG2_DwarfSavingThrowModifiers">
        <xs:sequence minOccurs="7" maxOccurs="7">
            <xs:element name="Modifier" type="BFRPG2_DwarfSavingThrowModifier" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BFRPG2_DwarfSavingThrowModifier">
        <xs:restriction base="BFRPG2_String">
            <xs:enumeration value="Dwarves save at +4 vs. Death Ray."/>
            <xs:enumeration value="Dwarves save at +3 vs. Dragon Breath."/>
            <xs:enumeration value="Dwarves save at +4 vs. Magic Wands."/>
            <xs:enumeration value="Dwarves save at +4 vs. Paralysis."/>
            <xs:enumeration value="Dwarves save at +4 vs. Petrify."/>
            <xs:enumeration value="Dwarves save at +4 vs. Poison."/>
            <xs:enumeration value="Dwarves save at +4 vs. Spells."/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BFRPG2_Elf">
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="Abilities" type="BFRPG2_ElfAbilities" minOccurs="1" maxOccurs="1"/>
            <xs:element name="Restrictions" type="BFRPG2_ElfRestrictions" minOccurs="1" maxOccurs="1"/>
            <xs:element name="SavingThrowModifiers" type="BFRPG2_ElfSavingThrowModifiers" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BFRPG2_ElfAbilities">
        <xs:sequence minOccurs="4" maxOccurs="4">
            <xs:element name="Ability" type="BFRPG2_ElfAbility" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BFRPG2_ElfAbility">
        <xs:restriction base="BFRPG2_String">
            <xs:enumeration value="Elves have Darkvision with a 60' range."/>
            <xs:enumeration value="When searching for secret doors, Elves detect on a roll of 1-2 of 1d6."/>
            <xs:enumeration value="When not searching for secret doors, Elves detect on a roll of 1 of 1d6."/>
            <xs:enumeration value="Elves are immune to paralyzing attack of ghouls."/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BFRPG2_ElfRestrictions">
        <xs:sequence minOccurs="3" maxOccurs="3">
            <xs:element name="Restriction" type="BFRPG2_ElfRestriction" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BFRPG2_ElfRestriction">
        <xs:restriction base="BFRPG2_String">
            <xs:enumeration value="Elves must have a minimum Intelligence score of 9."/>
            <xs:enumeration value="Elves must have a maximum Constitution score of 17."/>
            <xs:enumeration value="Elves never roll higher than d6 for Hit Points."/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BFRPG2_ElfSavingThrowModifiers">
        <xs:sequence minOccurs="4" maxOccurs="4">
            <xs:element name="Modifier" type="BFRPG2_ElfSavingThrowModifier" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BFRPG2_ElfSavingThrowModifier">
        <xs:restriction base="BFRPG2_String">
            <xs:enumeration value="Elves save at +2 vs. Magic Wands."/>
            <xs:enumeration value="Elves save at +1 vs. Paralysis."/>
            <xs:enumeration value="Elves save at +1 vs. Petrify."/>
            <xs:enumeration value="Elves save at +2 vs. Spells."/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BFRPG2_Halfling">
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="Abilities" type="BFRPG2_HalflingAbilities" minOccurs="1" maxOccurs="1"/>
            <xs:element name="Restrictions" type="BFRPG2_HalflingRestrictions" minOccurs="1" maxOccurs="1"/>
            <xs:element name="SavingThrowModifiers" type="BFRPG2_HalflingSavingThrowModifiers" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BFRPG2_HalflingAbilities">
        <xs:sequence minOccurs="5" maxOccurs="5">
            <xs:element name="Ability" type="BFRPG2_HalflingAbility" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BFRPG2_HalflingAbility">
        <xs:restriction base="BFRPG2_String">
            <xs:enumeration value="Halflings get a +1 attack bonus when using ranged weapons."/>
            <xs:enumeration value="Halflings get a +2 Armor Class bonus when melee attacked by a larger than man-sized creatures."/>
            <xs:enumeration value="Halflings get a +1 bonus to Initiative die rolls."/>
            <xs:enumeration value="Halflings have a 10% chance of being detected when hiding in forest terrains."/>
            <xs:enumeration value="Halflings have a 30% chance of being detected when hiding in non-forest terrains."/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BFRPG2_HalflingRestrictions">
        <xs:sequence minOccurs="6" maxOccurs="6">
            <xs:element name="Restriction" type="BFRPG2_HalflingRestriction" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BFRPG2_HalflingRestriction">
        <xs:restriction base="BFRPG2_String">
            <xs:enumeration value="Halflings may not be Magic-Users."/>
            <xs:enumeration value="Halflings must have a minimum Dexterity score of 9."/>
            <xs:enumeration value="Halflings must have a maximum Strength score of 17."/>
            <xs:enumeration value="Halflings never roll higher than d6 for Hit Points."/>
            <xs:enumeration value="Halflings may not use Large weapons."/>
            <xs:enumeration value="Halflings must wield Medium weapons with both hands."/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BFRPG2_HalflingSavingThrowModifiers">
        <xs:sequence minOccurs="7" maxOccurs="7">
            <xs:element name="Modifier" type="BFRPG2_HalflingSavingThrowModifier" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BFRPG2_HalflingSavingThrowModifier">
        <xs:restriction base="BFRPG2_String">
            <xs:enumeration value="Halflings save at +4 vs. Death Ray."/>
            <xs:enumeration value="Halflings save at +3 vs. Dragon Breath."/>
            <xs:enumeration value="Halflings save at +4 vs. Magic Wands."/>
            <xs:enumeration value="Halflings save at +4 vs. Paralysis."/>
            <xs:enumeration value="Halflings save at +4 vs. Petrify."/>
            <xs:enumeration value="Halflings save at +4 vs. Poison."/>
            <xs:enumeration value="Halflings save at +4 vs. Spells."/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BFRPG2_Human">
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="Abilities" type="BFRPG2_HumanAbilities" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BFRPG2_HumanAbilities">
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="Ability" type="BFRPG2_HumanAbility" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BFRPG2_HumanAbility">
        <xs:restriction base="BFRPG2_String">
            <xs:enumeration value="Humans get a 10% bonus to all Experience Points earned."/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BFRPG2_Classes">
        <xs:choice minOccurs="1" maxOccurs="4">
            <xs:element name="Cleric" type="BFRPG2_Cleric" minOccurs="1" maxOccurs="1"/>
            <xs:element name="Fighter" type="BFRPG2_Fighter" minOccurs="1" maxOccurs="1"/>
            <xs:element name="MagicUser" type="BFRPG2_MagicUser" minOccurs="1" maxOccurs="1"/>
            <xs:element name="Thief" type="BFRPG2_Thief" minOccurs="1" maxOccurs="1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="BFRPG2_Cleric">
        <xs:sequence>
            <xs:element name="Level" type="BFRPG2_Level" minOccurs="1" maxOccurs="1"/>
            <xs:element name="ExperiencePoints" type="BFRPG2_ExperiencePoints" minOccurs="1" maxOccurs="1"/>
            <xs:element name="Spells" type="BFRPG2_ClericSpells" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BFRPG2_ClericSpells">
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="LevelOne" type="BFRPG2_ClericSpellsLevelOne" minOccurs="1" maxOccurs="6"/>
            <xs:element name="LevelTwo" type="BFRPG2_ClericSpellsLevelTwo" minOccurs="0" maxOccurs="5"/>
            <xs:element name="LevelThree" type="BFRPG2_ClericSpellsLevelThree" minOccurs="0" maxOccurs="5"/>
            <xs:element name="LevelFour" type="BFRPG2_ClericSpellsLevelFour" minOccurs="0" maxOccurs="4"/>
            <xs:element name="LevelFive" type="BFRPG2_ClericSpellsLevelFive" minOccurs="0" maxOccurs="3"/>
            <xs:element name="LevelSix" type="BFRPG2_ClericSpellsLevelSix" minOccurs="0" maxOccurs="3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BFRPG2_ClericSpellsLevelOne">
        <xs:restriction base="BFRPG2_String">
            <xs:enumeration value="Cause Fear"/>
            <xs:enumeration value="Cause Light Wounds"/>
            <xs:enumeration value="Cure Light Wounds"/>
            <xs:enumeration value="Darkness"/>
            <xs:enumeration value="Detect Evil"/>
            <xs:enumeration value="Detect Good"/>
            <xs:enumeration value="Detect Magic"/>
            <xs:enumeration value="Light"/>
            <xs:enumeration value="Protection from Evil"/>
            <xs:enumeration value="Protection from Good"/>
            <xs:enumeration value="Purify Food and Water"/>
            <xs:enumeration value="Remove Fear"/>
            <xs:enumeration value="Resist Cold"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BFRPG2_ClericSpellsLevelTwo">
        <xs:restriction base="BFRPG2_String">
            <xs:enumeration value="Bane"/>
            <xs:enumeration value="Bless"/>
            <xs:enumeration value="Charm Animal"/>
            <xs:enumeration value="Find Traps"/>
            <xs:enumeration value="Hold Person"/>
            <xs:enumeration value="Resist Fire"/>
            <xs:enumeration value="Silence 15' Radius"/>
            <xs:enumeration value="Speak with Animals"/>
            <xs:enumeration value="Spiritual Hammer"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BFRPG2_ClericSpellsLevelThree">
        <xs:restriction base="BFRPG2_String">
            <xs:enumeration value="Bestow Curse"/>
            <xs:enumeration value="Continual Darkness"/>
            <xs:enumeration value="Continual Light"/>
            <xs:enumeration value="Cure Blindness"/>
            <xs:enumeration value="Cause Disease"/>
            <xs:enumeration value="Cure Disease"/>
            <xs:enumeration value="Growth of Animals"/>
            <xs:enumeration value="Locate Object"/>
            <xs:enumeration value="Remove Curse"/>
            <xs:enumeration value="Speak with Dead"/>
            <xs:enumeration value="Striking"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BFRPG2_ClericSpellsLevelFour">
        <xs:restriction base="BFRPG2_String">
            <xs:enumeration value="Animate Dead"/>
            <xs:enumeration value="Cause Serious Wounds"/>
            <xs:enumeration value="Create Water"/>
            <xs:enumeration value="Cure Serious Wounds"/>
            <xs:enumeration value="Dispel Magic"/>
            <xs:enumeration value="Neutralize Poison"/>
            <xs:enumeration value="Poison"/>
            <xs:enumeration value="Protection from Evil 10' radius"/>
            <xs:enumeration value="Protection from Good 10' radius"/>
            <xs:enumeration value="Speak with Plants"/>
            <xs:enumeration value="Sticks to Snakes"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BFRPG2_ClericSpellsLevelFive">
        <xs:restriction base="BFRPG2_String">
            <xs:enumeration value="Commune"/>
            <xs:enumeration value="Create Food"/>
            <xs:enumeration value="Dispel Evil"/>
            <xs:enumeration value="Insect Plague"/>
            <xs:enumeration value="Quest"/>
            <xs:enumeration value="Raise Dead"/>
            <xs:enumeration value="Remove Quest"/>
            <xs:enumeration value="Slay Living"/>
            <xs:enumeration value="True Seeing"/>
            <xs:enumeration value="Wall of Fire"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BFRPG2_ClericSpellsLevelSix">
        <xs:restriction base="BFRPG2_String">
            <xs:enumeration value="Animate Objects"/>
            <xs:enumeration value="Blade Barrier"/>
            <xs:enumeration value="Find the Path"/>
            <xs:enumeration value="Harm"/>
            <xs:enumeration value="Heal"/>
            <xs:enumeration value="Regenerate"/>
            <xs:enumeration value="Restoration"/>
            <xs:enumeration value="Speak with Monsters"/>
            <xs:enumeration value="Word of Recall"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BFRPG2_Fighter">
        <xs:sequence>
            <xs:element name="Level" type="BFRPG2_Level" minOccurs="1" maxOccurs="1"/>
            <xs:element name="ExperiencePoints" type="BFRPG2_ExperiencePoints" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BFRPG2_MagicUser">
        <xs:sequence>
            <xs:element name="Level" type="BFRPG2_Level" minOccurs="1" maxOccurs="1"/>
            <xs:element name="ExperiencePoints" type="BFRPG2_ExperiencePoints" minOccurs="1" maxOccurs="1"/>
            <xs:element name="Spells" type="BFRPG2_MagicUserSpells" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BFRPG2_MagicUserSpells">
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="LevelOne" type="BFRPG2_MagicUserSpellsLevelOne" minOccurs="1" maxOccurs="6"/>
            <xs:element name="LevelTwo" type="BFRPG2_MagicUserSpellsLevelTwo" minOccurs="0" maxOccurs="5"/>
            <xs:element name="LevelThree" type="BFRPG2_MagicUserSpellsLevelThree" minOccurs="0" maxOccurs="5"/>
            <xs:element name="LevelFour" type="BFRPG2_MagicUserSpellsLevelFour" minOccurs="0" maxOccurs="4"/>
            <xs:element name="LevelFive" type="BFRPG2_MagicUserSpellsLevelFive" minOccurs="0" maxOccurs="4"/>
            <xs:element name="LevelSix" type="BFRPG2_MagicUserSpellsLevelSix" minOccurs="0" maxOccurs="3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BFRPG2_MagicUserSpellsLevelOne">
        <xs:restriction base="BFRPG2_String">
            <xs:enumeration value="Charm Person"/>
            <xs:enumeration value="Darkness"/>
            <xs:enumeration value="Detect Magic"/>
            <xs:enumeration value="Floating Disc"/>
            <xs:enumeration value="Hold Portal"/>
            <xs:enumeration value="Light"/>
            <xs:enumeration value="Magic Missle"/>
            <xs:enumeration value="Magic Mouth"/>
            <xs:enumeration value="Protection from Evil"/>
            <xs:enumeration value="Protection from Good"/>
            <xs:enumeration value="Read Languages"/>
            <xs:enumeration value="Read Magic"/>
            <xs:enumeration value="Shield"/>
            <xs:enumeration value="Sleep"/>
            <xs:enumeration value="Ventroliquism"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BFRPG2_MagicUserSpellsLevelTwo">
        <xs:restriction base="BFRPG2_String">
            <xs:enumeration value="Continual Darkness"/>
            <xs:enumeration value="Continual Light"/>
            <xs:enumeration value="Detect Evil"/>
            <xs:enumeration value="Detect Good"/>
            <xs:enumeration value="Detect Invisible"/>
            <xs:enumeration value="ESP"/>
            <xs:enumeration value="Invisibility"/>
            <xs:enumeration value="Knock"/>
            <xs:enumeration value="Levitate"/>
            <xs:enumeration value="Locate Object"/>
            <xs:enumeration value="Mirror Image"/>
            <xs:enumeration value="Phantasmal Force"/>
            <xs:enumeration value="Web"/>
            <xs:enumeration value="Wizard Lock"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BFRPG2_MagicUserSpellsLevelThree">
        <xs:restriction base="BFRPG2_String">
            <xs:enumeration value="Clairvoyance"/>
            <xs:enumeration value="Darkvision"/>
            <xs:enumeration value="Dispel Magic"/>
            <xs:enumeration value="Fireball"/>
            <xs:enumeration value="Fly"/>
            <xs:enumeration value="Haste"/>
            <xs:enumeration value="Hold Person"/>
            <xs:enumeration value="Invisibility 10' radius"/>
            <xs:enumeration value="Lightning Bolt"/>
            <xs:enumeration value="Protection from Evil 10' radius"/>
            <xs:enumeration value="Protection from Good 10' radius"/>
            <xs:enumeration value="Protection from Normal Missiles"/>
            <xs:enumeration value="Slow"/>
            <xs:enumeration value="Water Breathing"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BFRPG2_MagicUserSpellsLevelFour">
        <xs:restriction base="BFRPG2_String">
            <xs:enumeration value="Bestow Curse"/>
            <xs:enumeration value="Charm Monster"/>
            <xs:enumeration value="Confusion"/>
            <xs:enumeration value="Dimension Door"/>
            <xs:enumeration value="Growth of Plants"/>
            <xs:enumeration value="Hallucinaory Terrain"/>
            <xs:enumeration value="Ice Storm"/>
            <xs:enumeration value="Massmorph"/>
            <xs:enumeration value="Polymorph Other"/>
            <xs:enumeration value="Polymorph Self"/>
            <xs:enumeration value="Remove Curse"/>
            <xs:enumeration value="Shrink Plants"/>
            <xs:enumeration value="Wall of Fire"/>
            <xs:enumeration value="Wizard Eye"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BFRPG2_MagicUserSpellsLevelFive">
        <xs:restriction base="BFRPG2_String">
            <xs:enumeration value="Animate Dead"/>
            <xs:enumeration value="Cloudkill"/>
            <xs:enumeration value="Conjure Elemental"/>
            <xs:enumeration value="Feeblemind"/>
            <xs:enumeration value="Hold Monster"/>
            <xs:enumeration value="Magic Jar"/>
            <xs:enumeration value="Passwall"/>
            <xs:enumeration value="Telekinesis"/>
            <xs:enumeration value="Teleport"/>
            <xs:enumeration value="Wall of Stone"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BFRPG2_MagicUserSpellsLevelSix">
        <xs:restriction base="BFRPG2_String">
            <xs:enumeration value="Anti-Magic Shell"/>
            <xs:enumeration value="Death Spell"/>
            <xs:enumeration value="Disintegrate"/>
            <xs:enumeration value="Flesh to Stone"/>
            <xs:enumeration value="Geas"/>
            <xs:enumeration value="Invisible Stalker"/>
            <xs:enumeration value="Lower Water"/>
            <xs:enumeration value="Projected Image"/>
            <xs:enumeration value="Reincarnate"/>
            <xs:enumeration value="Remove Geas"/>
            <xs:enumeration value="Stone to Flesh"/>
            <xs:enumeration value="Wall of Iron"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BFRPG2_Thief">
        <xs:sequence>
            <xs:element name="Level" type="BFRPG2_Level" minOccurs="1" maxOccurs="1"/>
            <xs:element name="ExperiencePoints" type="BFRPG2_ExperiencePoints" minOccurs="1" maxOccurs="1"/>
            <xs:element name="ThiefAbilities" type="BFRPG2_ThiefAbilities" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BFRPG2_ThiefAbilities">
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="OpenLocks" type="BFRPG2_ThiefAbility" minOccurs="1" maxOccurs="1"/>
            <xs:element name="RemoveTraps" type="BFRPG2_ThiefAbility" minOccurs="1" maxOccurs="1"/>
            <xs:element name="PickPockets" type="BFRPG2_ThiefAbility" minOccurs="1" maxOccurs="1"/>
            <xs:element name="MoveSilently" type="BFRPG2_ThiefAbility" minOccurs="1" maxOccurs="1"/>
            <xs:element name="ClimbWalls" type="BFRPG2_ThiefAbility" minOccurs="1" maxOccurs="1"/>
            <xs:element name="Hide" type="BFRPG2_ThiefAbility" minOccurs="1" maxOccurs="1"/>
            <xs:element name="Listen" type="BFRPG2_ThiefAbility" minOccurs="1" maxOccurs="1"/>
            <xs:element name="SneakAttackBonus" type="BFRPG2_ThiefSneakAttackBonus" minOccurs="1" maxOccurs="1"/>
            <xs:element name="SneakAttackDamage" type="BFRPG2_ThiefSneakAttackDamage" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BFRPG2_ThiefAbility">
        <xs:restriction base="BFRPG2_Integer">
            <xs:minInclusive value="10"/>
            <xs:maxInclusive value="99"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BFRPG2_ThiefSneakAttackBonus">
        <xs:restriction base="BFRPG2_String">
            <xs:enumeration value="Thieves get a +4 Attack bonus when attacking from behind."/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BFRPG2_ThiefSneakAttackDamage">
        <xs:restriction base="BFRPG2_String">
            <xs:enumeration value="Thieves do double Damage when attacking from behind."/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BFRPG2_Level">
        <xs:restriction base="BFRPG2_Integer">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="20"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BFRPG2_ExperiencePoints">
        <xs:restriction base="BFRPG2_Integer">
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BFRPG2_CharacterAbilities">
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="Strength" type="BFRPG2_Strength" minOccurs="1" maxOccurs="1"/>
            <xs:element name="Intelligence" type="BFRPG2_Intelligence" minOccurs="1" maxOccurs="1"/>
            <xs:element name="Wisdom" type="BFRPG2_Wisdom" minOccurs="1" maxOccurs="1"/>
            <xs:element name="Dexterity" type="BFRPG2_Dexterity" minOccurs="1" maxOccurs="1"/>
            <xs:element name="Constitution" type="BFRPG2_Constitution" minOccurs="1" maxOccurs="1"/>
            <xs:element name="Charisma" type="BFRPG2_Charisma" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BFRPG2_Strength">
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="Score" type="BFRPG2_CharacterAbilityScore" minOccurs="1" maxOccurs="1"/>
            <xs:element name="MeleeModifier" type="BFRPG2_CharacterAbilityModifier" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BFRPG2_Intelligence">
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="Score" type="BFRPG2_CharacterAbilityScore" minOccurs="1" maxOccurs="1"/>
            <xs:element name="AdditionalLanguages" type="BFRPG2_CharacterAbilityPositiveModifier" minOccurs="1" maxOccurs="1"/>
            <xs:element name="SavingThrowAgainstIllusionModifier" type="BFRPG2_CharacterAbilityModifier" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BFRPG2_Wisdom">
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="Score" type="BFRPG2_CharacterAbilityScore" minOccurs="1" maxOccurs="1"/>
            <xs:element name="SavingThrowAgainstMagicalAttackOnPersonalWillModifier" type="BFRPG2_CharacterAbilityModifier" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BFRPG2_Dexterity">
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="Score" type="BFRPG2_CharacterAbilityScore" minOccurs="1" maxOccurs="1"/>
            <xs:element name="RangedWeaponAttackModifier" type="BFRPG2_CharacterAbilityModifier" minOccurs="1" maxOccurs="1"/>
            <xs:element name="ArmorClassModifier" type="BFRPG2_CharacterAbilityModifier" minOccurs="1" maxOccurs="1"/>
            <xs:element name="IniativeModifier" type="BFRPG2_CharacterAbilityModifier" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BFRPG2_Constitution">
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="Score" type="BFRPG2_CharacterAbilityScore" minOccurs="1" maxOccurs="1"/>
            <xs:element name="HitDieModifier" type="BFRPG2_CharacterAbilityModifier" minOccurs="1" maxOccurs="1"/>
            <xs:element name="SavingThrowAgainstPoisonModifier" type="BFRPG2_CharacterAbilityModifier" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BFRPG2_Charisma">
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="Score" type="BFRPG2_CharacterAbilityScore" minOccurs="1" maxOccurs="1"/>
            <xs:element name="ReactionModifier" type="BFRPG2_CharacterAbilityModifier" minOccurs="1" maxOccurs="1"/>
            <xs:element name="MaximumNumberOfRetainers" type="BFRPG2_MaximumNumberOfRetainers" minOccurs="1" maxOccurs="1"/>
            <xs:element name="RetainerMorale" type="BFRPG2_RetainerMorale" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BFRPG2_CharacterAbilityScore">
        <xs:restriction base="BFRPG2_Integer">
            <xs:minInclusive value="3"/>
            <xs:maxInclusive value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BFRPG2_CharacterAbilityModifier">
        <xs:restriction base="BFRPG2_String">
            <xs:enumeration value="-3"/>
            <xs:enumeration value="-2"/>
            <xs:enumeration value="-1"/>
            <xs:enumeration value="0"/>
            <xs:enumeration value="+1"/>
            <xs:enumeration value="+2"/>
            <xs:enumeration value="+3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BFRPG2_CharacterAbilityPositiveModifier">
        <xs:restriction base="BFRPG2_String">
            <xs:enumeration value="0"/>
            <xs:enumeration value="+1"/>
            <xs:enumeration value="+2"/>
            <xs:enumeration value="+3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BFRPG2_MaximumNumberOfRetainers">
        <xs:restriction base="BFRPG2_Integer">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="7"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BFRPG2_RetainerMorale">
        <xs:restriction base="BFRPG2_Integer">
            <xs:minInclusive value="4"/>
            <xs:maxInclusive value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BFRPG2_ArmorClass">
        <xs:restriction base="BFRPG2_Integer"/>
    </xs:simpleType>
    <xs:complexType name="BFRPG2_HitPoints">
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="Current" type="BFRPG2_CurrentHitPoints" minOccurs="1" maxOccurs="1"/>
            <xs:element name="Maximum" type="BFRPG2_MaximumHitPoints" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>        
    </xs:complexType>
    <xs:simpleType name="BFRPG2_CurrentHitPoints">
        <xs:restriction base="BFRPG2_Integer">
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BFRPG2_MaximumHitPoints">
        <xs:restriction base="BFRPG2_Integer">
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BFRPG2_SavingThrows">
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="DeathRay" type="BFRPG2_SavingThrow" minOccurs="1" maxOccurs="1"/>
            <xs:element name="DragonBreath" type="BFRPG2_SavingThrow" minOccurs="1" maxOccurs="1"/>
            <xs:element name="MagicWands" type="BFRPG2_SavingThrow" minOccurs="1" maxOccurs="1"/>
            <xs:element name="Paralysis" type="BFRPG2_SavingThrow" minOccurs="1" maxOccurs="1"/>
            <xs:element name="Petrify" type="BFRPG2_SavingThrow" minOccurs="1" maxOccurs="1"/>
            <xs:element name="Poison" type="BFRPG2_SavingThrow" minOccurs="1" maxOccurs="1" />
            <xs:element name="Spells" type="BFRPG2_SavingThrow" minOccurs="1" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BFRPG2_SavingThrow">
        <xs:restriction base="BFRPG2_Integer">
            <xs:minInclusive value="2"/>
            <xs:maxInclusive value="19"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BFRPG2_Languages">
        <xs:sequence minOccurs="1" maxOccurs="5">
            <xs:element name="Language" type="BFRPG2_Language" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BFRPG2_Language">
        <xs:restriction base="BFRPG2_String">
            <xs:enumeration value="Common"/>
            <xs:enumeration value="Dwarvish"/>
            <xs:enumeration value="Elvish"/>
            <xs:enumeration value="Halfling"/>
        </xs:restriction>
    </xs:simpleType>






    <xs:simpleType name="BFRPG2_Integer">
        <xs:restriction base="OCR_Integer"/>
    </xs:simpleType>
    <xs:simpleType name="BFRPG2_String">
        <xs:restriction base="OCR_String"/>
    </xs:simpleType>






    <!-- OCR Base Types -->
    <xs:simpleType name="OCR_Integer">
        <xs:restriction base="xs:integer"/>
    </xs:simpleType>
    <xs:simpleType name="OCR_String">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
</xs:schema>